body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://source.unsplash.com/uN1m9Ca0aqo/1200x900);
  background-size: cover;
}

.focus {
  position: absolute;
  width: 100%;
  height: 100%;
}



