.parent{
/*
  top: 0%;
  left: 0%;
  position: absolute;*/
}
.night{
  filter: brightness(20%); 
}
.lh-1 {
  position: absolute;
  top: 0%;
  left: 0%;
  clip-path: url(#lhClip);
  background: url("img/Place/Day.png");
  /*-webkit-mask-image: radial-gradient(circle at 500px 400px, #000, transparent 10%);*/
}




